<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Resetar a senha</h3>
        <p class="text-center">Por favor coloque seu e-mail para requerir uma nova senha.</p>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="E-mail" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Resetar senha" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Voltar para página anterior? <a class="redirect" routerLink="/sign-in">Entrar</a></span>
      </div>
    </div>
  </div>