div.lista-de-avisos{
    min-width: 45vw;
    min-height: 20vh;
    padding: 5px;
    border: 1px solid;
    border-radius: 2px;
    border-color: #f1f1f1;
}

h2.aviso-titulo {
    padding-left: 1vw;
}

p.aviso-texto {
    padding-left: 0.5vw;
}

#textoaviso {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;
    border-radius: 3px;
    border-color: #f1f1f1;
}

input#tituloaviso {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;
}