  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
      <!-- Main content -->
      <main role="main">
        <div>
          <div>
            <h1 class="h1titulo">Perfil de Usuário</h1>
          </div>
          <!-- Show user data when logged in -->
          <div *ngIf="authService.userData as user">
            <div>
              <div>
                <table id="table2">
                  <th>
                    <img class="photo" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                    alt="{{user.displayName}}">
                    <div [hidden]="editarNome">
                      <h1><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                      <button (click)="editarNomeFuncao(true)">Alterar nome e foto</button>
                    </div>
  
                    <div [hidden]="!editarNome">
                      <label>Foto:</label>
                      <input type="text" id="nomee" name="nomee" placeholder="Coloque a URL da foto aqui." [(ngModel)]="this.foto"/>
                      <br>
                      <label>Nome:</label>
                      <input type="text" id="nomee" name="nomee" placeholder="Coloque a alteção do nome aqui." [(ngModel)]="this.nome"/>
                      <br>
                      <button (click)="atualizarPerfil()">Salvar</button>
                      <button (click)="editarNomeFuncao(false)">Cancelar</button>
                    </div>
                  </th>
                </table>
                
                <div>
                  <div [hidden]="editarEmail">
                    <p>E-mail: <strong>{{user.email}}</strong></p>
                    <button (click)="editarEmailFuncao(true)">Alterar e-mail</button>
                  </div>

                  <div [hidden]="!editarEmail"><label>E-mail:</label>
                    <input type="text" id="emaill" name="emaill" placeholder="Coloque a alteção do e-mail aqui." [(ngModel)]="this.email"/>
                    <br>
                    <button (click)="atualizarEmail()">Salvar</button>
                    <button (click)="editarEmailFuncao(false)">Cancelar</button>
                  </div>

                  <div [hidden]="user.emailVerified">
                    <button (click)="authService.SendVerificationMail()">Enviar e-mail de verificação.</button>
                  </div>
                  
                  <div [hidden]="alterarSenha">
                    <button (click)="alterarSenhaFuncao(true)">Alterar senha</button>
                  </div>
                  
                  <div [hidden]="!alterarSenha">
                    <label>Nova senha:</label>
                    <input type="password" id="novaSenhaa" name="novaSenhaa" placeholder="Coloque a nova senha aqui." [(ngModel)]="this.novaSenha"/>
                    <br>
                    <button (click)="aplicarNovaSenha()">Salvar</button>
                    <button (click)="alterarSenhaFuncao(false)">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>