:root{
    background-color: black;
}

h1.logo {
    padding-left: 10px;
    padding-top: 3px;
}

nav.menu{
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #131313;
    display: flex;
    justify-content: space-between;
}

nav.menu button{
    text-decoration: none;
    color: #f7fdf8;
    font-size: 20px;
    background-color:#131313;
    border: 0;
    padding: 13px;
    margin-right: 10px;
    border-radius: 0;
    height: 100%;
    margin-top: 0;
}
nav.menu button:hover{
    background-color: #232323;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

nav.menu p   {
    text-decoration: none;
    color: #f7fdf8;
    font-size: 20px;
    background-color: #17bebb;
    border: 0;
    padding: 13px;
    margin-right: 10px;
    
}

div.links{
    display: flex;
}

div.content{
    border-radius: 6px;
    background-color:white;
    border: 1px solid;
    border-color: #f1f1f1;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}