<nav class="menu">
  <a routerLink="/"><h1 class="logo">E-greja</h1></a>
  <div class="links">
    <button routerLink="avisos" routerLinkActive="active">Avisos</button>
    <button routerLink="organizacao-de-eventos">Cronograma</button>
    <button *ngIf="(authService.isLoggedIn) === true" routerLink="membros" routerLinkActive="active">Membros</button>
  </div>
    <div>
      <button *ngIf="(authService.isLoggedIn) === true" routerLink="dashboard">Dashboard</button>
      <button *ngIf="(authService.isLoggedIn) === false" routerLink="/sign-in">Entrar</button>
      <button *ngIf="(authService.isLoggedIn) === true" (click)="authService.SignOut()">Sair</button>
    </div>
</nav>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>