<nav>
  <a routerLink="/"><h1 class="logo">E-greja</h1></a>
  <div class="links">
    <button routerLink="avisos" routerLinkActive="active">Avisos</button>
    <button routerLink="membros" routerLinkActive="active">Membros</button>
    <button routerLink="organizacao-de-eventos">Organização de Eventos</button>
  </div>
    <button *ngIf="(afAuth.authState | async) === null" (click)="signIn()">Entrar</button>
    <div *ngIf="afAuth.authState | async as user" (click)="signOut()">
      <button> Bem Vindo <br> {{user.displayName}} </button>
    </div>
</nav>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>