<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Obrigado por registrar!</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">Nos enviamos um e-mail para confirmação em <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Por favor cheque seu e-mail para verificar a conta.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Re-enviar e-mail de verificação.
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Voltar para página anterior?<a class="redirect" routerLink="/sign-in"> Entrar</a></span>
      </div>
    </div>
  </div>