<div class="main">
    <div [hidden]="!verPerfilVariavel">
        <h1 class="h1titulo">Perfil de Usuário</h1>
        <div>
            <table id="table2">
                <th>
                    <img class="photo-profile" src="{{(usuarioVisualizado.photoURL) ? usuarioVisualizado.photoURL : '/assets/dummy-user.png'}}"
                        alt="{{usuarioVisualizado.displayName}}" height="256">
                    <div class="media-body">
                        <h1><strong>{{(usuarioVisualizado.displayName) ? usuarioVisualizado.displayName : 'usuarioVisualizado'}}</strong></h1>
                        <p>E-mail: <strong>{{usuarioVisualizado.email}}</strong></p>
                        <button (click)="verPerfil(false)">Voltar</button>
                    </div>
                </th>
            </table>
            
        </div>
    </div>
    <div class="quadro-de-membros" [hidden]="verPerfilVariavel">
        <h1>Lista de Membros</h1>
            <table id="customers">
                <tr>
                    <th>Foto:</th>
                    <th>Nome:</th>
                    <th>Ações:</th>
                </tr>
                <tr *ngFor="let usuario of listaMembro">
                    <td><img class="photo" src="{{(usuario.photoURL) ? usuario.photoURL : '/assets/dummy-user.png'}}" alt="{{usuario.displayName}}" height="64"></td>
                    <td class="usuario-nome">{{usuario.displayName}}</td>
                    <td>
                        <button (click)="visualizarPerfil(usuario)">Ver Perfil</button>
                        <button *ngIf="isAdmin" (click)="authService.setManager(usuario.uid)">Tornar Admin</button>
                    </td>
                </tr>
            </table>
    </div>
</div>