/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
    margin: 0%;
    padding: 0;
    background-color: lightblue;
    margin: 0%;
    padding: 0;
    width: 100vw;
    background-color: #17bebb;
    display: flex;
    
    justify-content: space-between;
}
.links{
    
    display: flex;
}
